@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Inter:wght@400;500&family=Lato:wght@100&family=Montserrat:wght@300;400;500&family=Roboto&family=Titillium+Web&family=Trispace&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.2s;
   font-family: 'Montserrat', sans-serif;
}
:root {
   --default-color: #1c2d63;
}
body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: url(./assets/images/ales-krivec--3LtGq_RPcY-unsplash.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
